
  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>
  <p>Your Session Id is : {{sessionId}}</p>
  <p>You have viewed this page {{pageViews}} times</p>


  <h3>Enter some data!</h3>

<form action="" method="post">
  <label for="name">Text:</label>
  <input id="name" type="text" name="name">
  <input type="submit" value="Submit">
</form>


<p>Data: {{sessionData}}</p>
